{% extends 'basic.html' %}
{% load static %}
{% block title %}Address - My Awesome Cart{% endblock %}
{% block body %}
<div class="container my-4">
    <button class="btn btn-dark" id="address">Add new Address</button>
    <div id="small-container">
        
    </div>
    {% for address in addList %}
    <div style="display: flex; flex-direction: row;">
        <div style="margin: 10px;">
            <p><strong>{{address.name}}</strong><br>
            {{address.street}}, {{address.city}}, {{address.state}} - {{address.pincode}} <br> {{address.phone}} <br> {{address.AddressId}}</p>
        </div>
        <div>
            <button class="btn btn-dark">Change</button>
        </div>
    </div>
    <div class="col-12">
        <label class="radio-container">
            <input type="hidden" value="" name="primaryAddress">
            <input type="radio" name="selectedAddress" class="address-radio" id="add{{address.AddressId}}">{% csrf_token %}
            <span class="checkmark">select address</span>
        </label>
    </div>
    {% endfor %}
</div>
{% endblock %}
{% block js %}
<script>
    let prodList = {{ prodList | safe }};
    let addList = {{addList | safe}};
    var csrfToken = document.querySelector('input[name="csrfmiddlewaretoken"]').value;
    for(let i = 0; i < addList.length; i++)
    {
      name = addList[i]['preference'];
    }
    
      console.log(addList);
      const radioButtons = document.querySelectorAll('.address-radio');
      radioButtons.forEach(radioButton => {
          radioButton.addEventListener('click', function() {
              let idstr = this.id;
              console.log("idstr:", idstr);
              this.checked = true;
              fetch('/address', {
                  method: "PUT",
                  headers: {
                      "X-CSRFToken": csrfToken
                  },
                  body: idstr
              })
          });
      });
    
    
    document.getElementById('cart').innerHTML = prodList.length;
    let small_container = document.getElementById('small-container');
    let newAddbtn = document.getElementById('address');
    newAddbtn.addEventListener('click',function(){
        small_container.innerHTML = `
        <form class="row g-3" action="/address" method="post">{% csrf_token %}
            <div class="col-md-6">
              <label for="name" class="form-label">Name</label>
              <input type="text" class="form-control" id="name" name="name" placeholder="Full Name (Required*)" required>
            </div>
            <div class="col-md-6">
              <label for="Phone" class="form-label">Phone</label>
              <input type="text" class="form-control" id="Phone" name="Phone" placeholder="Mobile Number (Required*)" required>
            </div>
            <div class="col-12">
              <label for="Address" class="form-label">Address</label>
              <input type="text" class="form-control" id="Address" name="Address" placeholder="Street name, building name, house no (Required*)" required>
            </div>
            <div class="col-md-6">
              <label for="City" class="form-label">City</label>
              <input type="text" class="form-control" id="City" name="City" placeholder="City (Required*)" required>
            </div>
            <div class="col-md-4">
              <label for="State" class="form-label">State</label>
              <input type="text" class="form-control" id="State" name="State" placeholder="State Name (Required*)" required>
            </div>
            <div class="col-md-2">
              <label for="Zip" class="form-label">Pin Code</label>
              <input type="text" class="form-control" id="Zip" name="Zip" placeholder="Pin Code (Required*)" required>
            </div>
            <div class="col-12">
              <button type="submit" class="btn btn-primary">Save</button>
            </div>
          </form>
        `
    })
</script>
{% endblock %}