{% extends 'basic.html' %}
{% block title %}Cart - My Awesome Cart{% endblock %}
{% block body %}
    <h2>These are the items in your Cart</h2>
    <a href="/home/cart/checkout"><button class="btn btn-primary">Checkout</button></a>
    <div class="container2" id="cartContainer">

    </div>

    <style>
        .container2 {
            margin-top: 54px;
            display: flex;
            /* flex-direction: column; */
            flex-wrap: wrap;
            justify-content: center;
            margin-left: 100px;
            height: auto;
            width: 90%;
        }

        .smallContainer1 {
            height: 239px;
            margin-left: 37px;
            width: 91%;
            display: flex;
            flex-direction: column;
        }

        .smallContainer2 {
            margin-left: 30px;
            height: 239px;
            width: 91%;
        }
    </style>
{% endblock %}

{% block js %}
    <script>
        if (localStorage.getItem('cart') == null) {
            var cart = {};
        } else {
            cart = JSON.parse(localStorage.getItem('cart'));
        }
        console.log(cart);
        for (let item in cart) {
            let id = item;
            Id = id.slice(2)
            let name = cart[item][0];
            let qty = cart[item][1];
            let desc = cart[item][3];
            let image = cart[item][2];
            let price = cart[item][4];
            const mystr = document.createElement('div');
            // if(name != undefined)
            // {
                mystr.innerHTML =
                `
                <div class="imgContainer">
                    <div class="smallContainer1">
                        <img height="200px" src="${image}" alt="kuchni">
                        <a href="/home/cart/productCheckout/${Id}"><button class="btn btn-primary">Buy Now</button></a>
                        <button class="btn btn-primary removeButton">Remove</button>
                    </div>
                </div>
                <div class="smallContainer2">
                    <h3>${name}</h3>
                    <h3>${qty}</h3>
                    <h5>${desc}</h5>
                    <h4>${price}</h4>
                </div>
                `;
            // }
            document.getElementById('cartContainer').append(mystr);

            const removeBtn = mystr.querySelectorAll(".removeButton");
            removeBtn.forEach(function(event){
                event.addEventListener("click",function(){
                    mystr.remove();
                    delete cart[item];
                    localStorage.setItem('cart',JSON.stringify(cart));
                    document.getElementById('cart').innerHTML = Object.keys(cart).length;
                })
                
            })

            if(image == undefined && qty == undefined && desc == undefined && name == undefined && price == undefined){
                mystr.remove();
                delete cart[item];
                localStorage.setItem('cart',JSON.stringify(cart));
            }
            document.getElementById('cart').innerHTML = Object.keys(cart).length;
        }
    </script>
{% endblock %}
