{% extends 'basic.html' %}
{% block title%} Checkout - My Awesome Cart{% endblock %}
{% block css %}

.container1 li{
list-style: none;
}

.all{
display: flex;
}

.all img{
margin: 20px;
}

{% endblock %}
{% block body %}
{% if user.is_authenticated %}
<div class="container">
    {% if firstBool == True and secondBool == False %}
    {% for product in cart_product_list %}
    <div class="container1">
        <li>
            <div class="all">
                <img height="200px" class="image" width="200px" src="{{ product.image_src }}" alt="Product Image">
                <div class="specs">
                    <p>{{ product.desc }}</p>
                    <p>{{ product.name }}</p>
                    <p>{{ product.qty }}</p>
                    <p>{{ product.prodId }}</p>
                    <p>{{ product.price }}</p>
                </div>
            </div>
        </li>
    </div>
    {% endfor %}
    <h4>Your cart total is Rs. <span id="total" style="color: aqua;">0</span>/-</h4>
    <div class="col my-4">
        <h2>Step 2 - Enter Address & Other Details:</h2>
        <form method="post" action="/paytm" id="checkoutForm">{% csrf_token %}
            <input type="hidden" name="itemJson" id="itemJson">
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="inputname">Name</label>
                    <input type="name" class="form-control" id="inputname" placeholder="Name" name="name">
                </div>
                <div class="form-group col-md-6">
                    <label for="inputEmail4">Email</label>
                    <input type="email" class="form-control" id="inputEmail4" placeholder="Email" name="email">
                </div>
            </div>
            <div class="form-group">
                <label for="inputAddress">Address</label>
                <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St" name="address1">
            </div>
            <div class="form-group">
                <label for="inputAddress2">Address line 2</label>
                <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor"
                    name="address2">
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="inputCity">City</label>
                    <input type="text" class="form-control" id="inputCity" name="city">
                </div>
                <div class="form-group col-md-4">
                    <label for="inputState">State</label>
                    <input type="text" class="form-control" id="inputState" placeholder="Enter State" name="state">
                </div>
                <div class="form-group col-md-2">
                    <label for="inputZip">Zip</label>
                    <input type="text" class="form-control" id="inputZip" name="zip_code">
                </div>
            </div>
            <div class="form-group">
                <label for="inputZip">Phone Number</label>
                <input type="tel" class="form-control" id="inputPhone" name="phone_number">
            </div>
            <!-- <a href="/paytm"> -->
                <button type="button" class="btn btn-primary checkoutBtn" onclick="submitForm()">Place Order</button>
            <!-- </a> -->
        </form>
    </div>

    {% elif firstBool == False and secondBool == True %}
    {% for product in new_cart_product_list %}
    <div class="container1">
        <li>
            <img height="200px" class="image" width="200px" src="{{ product.image_src }}" alt="Product Image">
            <p>{{ product.desc }}</p>
            <p>{{ product.name }}</p>
            <p>{{ product.qty }}</p>
            <!-- <p>{{ product.prodId }}</p> -->
        </li>
    </div>
    <h4>Your cart total is Rs. <span id="total" style="color: aqua;">0</span>/-</h4>
    <div class="col my-4">
        <h2>Step 2 - Enter Address & Other Details:</h2>
        <form method="post" action="/paytm" id="checkoutForm">{% csrf_token %}
            <input type="hidden" name="itemJson" id="itemJson">
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="inputname">Name</label>
                    <input type="name" class="form-control" id="inputname" placeholder="Name" name="name">
                </div>
                <div class="form-group col-md-6">
                    <label for="inputEmail4">Email</label>
                    <input type="email" class="form-control" id="inputEmail4" placeholder="Email" name="email">
                </div>
            </div>
            <div class="form-group">
                <label for="inputAddress">Address</label>
                <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St" name="address1">
            </div>
            <div class="form-group">
                <label for="inputAddress2">Address line 2</label>
                <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor"
                    name="address2">
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="inputCity">City</label>
                    <input type="text" class="form-control" id="inputCity" name="city">
                </div>
                <div class="form-group col-md-4">
                    <label for="inputState">State</label>
                    <input type="text" class="form-control" id="inputState" placeholder="Enter State" name="state">
                </div>
                <div class="form-group col-md-2">
                    <label for="inputZip">Zip</label>
                    <input type="text" class="form-control" id="inputZip" name="zip_code">
                </div>
            </div>
            <div class="form-group">
                <label for="inputZip">Phone Number</label>
                <input type="tel" class="form-control" id="inputPhone" name="phone_number">
            </div>
            <!-- <a href="/paytm"> -->
                <button type="button" class="btn btn-primary checkoutBtn" onclick="submitForm()">Place Order</button>
            <!-- </a> -->
        </form>
    </div>
    {% endfor %}
    {% else %}
    <h5>Your order has been placed successfully!! For More Information of Order navigate to <a
            href="/home/orders">Orders</a> Page. <br>To continue Shopping click <a href="/">Here</a></h5>
    {% endif %}

</div>
{% endif %}
{% endblock %}
{% block js %}
<script>

    var firstBool = {{ firstBool| lower }};
    var secondBool = {{ secondBool| lower }};

    let cart_product_list = {{ cart_product_list | safe }};
    let new_cart_product_list = {{ new_cart_product_list | safe }};
    document.getElementById('cart').innerHTML = cart_product_list.length;
    // location.reload();
    let total = 0;
    if (firstBool) {
        
        for(let i = 0; i < cart_product_list.length; i++)
        {
            let item = cart_product_list[i];
            total += parseInt(item.price)*parseInt(item.qty);
        }
        // console.log("total is:",total);
        document.getElementById('total').innerHTML = total;

        function submitForm(){

            let jsonString = JSON.stringify(cart_product_list);
            let modifiedString = jsonString.replace(/'/g, '"');
            let modifiedList = JSON.parse(modifiedString);

            for (let i = 0; i < modifiedList.length; i++) {
                let orderCart = {};
                let prod = modifiedList[i];
                let idstr = prod.prodId;
                let qty = prod.qty;
                let img = prod.image_src;
                let name = prod.name;
                let price = prod.price;
                let desc = prod.desc;


                orderCart[idstr] = [
                    qty,
                    name,
                    img,
                    desc,
                    price,
                    idstr
                ]

                let formData = new FormData();
                let formValues = {}; 

                formValues.itemJson = JSON.stringify(orderCart);
                formValues.name = document.getElementById('inputname').value;
                formValues.email = document.getElementById('inputEmail4').value;
                formValues.address1 = document.getElementById('inputAddress').value;
                formValues.address2 = document.getElementById('inputAddress2').value;
                formValues.city = document.getElementById('inputCity').value;
                formValues.state = document.getElementById('inputState').value;
                formValues.zip_code = 0
                formValues.phone_number = 0
                formData.append('formData', JSON.stringify(formValues));

                var csrfToken = document.querySelector('input[name="csrfmiddlewaretoken"]').value;

                fetch('/paytm', {
                    method: 'POST',
                    body: JSON.stringify(formValues),
                    headers: {
                        "Content-Type": "application/json",
                        "X-CSRFToken": csrfToken
                    },
                })
                .then(response => {
                    document.location.href = '/paytm';
                })
                .catch(error => {});                
            }
        }

    } else {

        for(let i = 0; i < new_cart_product_list.length; i++)
        {
            let item = new_cart_product_list[i];
            total += parseInt(item.price)*parseInt(item.qty);
        }
        // console.log("total is:",total);
        document.getElementById('total').innerHTML = total;

        function submitForm(){

            let jsonString = JSON.stringify(new_cart_product_list);
            let modifiedString = jsonString.replace(/'/g, '"');
            let modifiedList = JSON.parse(modifiedString);

            for (let i = 0; i < modifiedList.length; i++) {
                let orderCart = {};
                let prod = modifiedList[i];
                let idstr = prod.product_Id;
                let qty = prod.qty;
                let img = prod.image_src;
                let name = prod.name;
                let price = prod.price;
                let desc = prod.desc;


                orderCart[idstr] = [
                    qty,
                    name,
                    img,
                    desc,
                    price,
                    idstr
                ]

                let formData = new FormData();
                let formValues = {}; 

                formValues.itemJson = JSON.stringify(orderCart);
                formValues.name = document.getElementById('inputname').value;
                formValues.email = document.getElementById('inputEmail4').value;
                formValues.address1 = document.getElementById('inputAddress').value;
                formValues.address2 = document.getElementById('inputAddress2').value;
                formValues.city = document.getElementById('inputCity').value;
                formValues.state = document.getElementById('inputState').value;
                formValues.zip_code = 0
                formValues.phone_number = 0
                formData.append('formData', JSON.stringify(formValues));

                var csrfToken = document.querySelector('input[name="csrfmiddlewaretoken"]').value;

                fetch('/paytm', {
                    method: 'POST',
                    body: JSON.stringify(formValues),
                    headers: {
                        "Content-Type": "application/json",
                        "X-CSRFToken": csrfToken
                    },
                })
                .then(response => {
                    document.location.href = '/paytm';
                })
                .catch(error => {});                
            }
        }
    }

</script>
{% endblock %}