{% extends 'basic.html' %}
{% block title %}Home{% endblock %}
{% block css %}
.col-md-3 {
display: inline-block;
margin-left: -4px;
}

.carousel-indicators .active {
background-color: blue;
}

.col-md-3 img {
width: 100%;
height: 301px;;
border-radius: 23px;
}

body .carousel-indicator li {
background-color: blue;
}

body .carousel-indicators {
bottom: 0;
}

body{
background-color: #E3E6E6
}

body .carousel-control-prev-icon,
body .carousel-control-next-icon {
background-color: blue;
}

body .no-padding {
padding-left: 0;
padding-right: 0;
}

.d-block {
height: 500px;
border-radius: 50px;
}

.carousel-inner {
width: 70%;
height: 500px;
margin: auto;
margin-top: 20px;
position: relative;
overflow: hidden;
}

.heading{
margin-left: 300px;
margin-top: 15px;
}

.container {
width: 100%;
}
{% endblock %}
{% for message in messages %}
<div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
  <strong>Message:</strong>{{message}}
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{% endfor %}
{% if user.is_authenticated %}
{% block body %}
{% csrf_token %}
{% load static %}

<div id="carouselExample" class="carousel slide">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img
        src='https://images-eu.ssl-images-amazon.com/images/G/31/img23/Fashion/Event/Gateway/JuneWRS/Teaser/Unrec-PC-2-3000._CB587224584_.jpg'
        class="d-block mx-auto w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src='https://images-eu.ssl-images-amazon.com/images/G/31/img22/Toys/PC_Hero_2x-toys._CB591544420_.jpg'
        class="d-block mx-auto w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img
        src='https://images-eu.ssl-images-amazon.com/images/G/31/img21/Wireless/Shreyansh/BAU/Unrexc/D70978891_INWLD_BAU_Unrec_Uber_PC_Hero_3000x1200._CB594707876_.jpg'
        class="d-block mx-auto w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img
        src='https://images-eu.ssl-images-amazon.com/images/G/31/img23/Fashion/GW/Mar/Apay/Rev1/PFF-3000-PC-Unrec._CB587649641_.jpg'
        class="d-block mx-auto w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<div class="containera">
  {% for product ,range, nSlides in allprods %}
  <h1 class="heading">{{product.0.category}}</h1>
  <div id="demo{{forloop.counter}}" class="carousel slide my-3" data-ride="carousel">
    <ul class="carousel-indicators">
      <li data-target="#demo{{forloop.counter}}" data-slide-to="0" class="active"></li>
      {% for i in range %}
      <li data-target="#demo{{forloop.parentloop.counter}}" data-slide-to="{{i}}"></li>
      {% endfor %}
    </ul>

    <!--Slideshow starts here -->
    <div class="container carousel-inner no-padding">

      <div class="carousel-item active">

        {% for i in product %}

        <div class="col-xs-3 col-sm-3 col-md-3">
          <div class="card" style="width: 18rem;">
            <img src='/media/{{i.image}}' id="imgpr{{i.id}}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title" id="namepr{{i.id}}">{{i.product_name}}</h5>
              <h5 class="card-title" id="pricepr{{i.id}}">{{i.price}}</h5>
              <p class="card-text" id="descpr{{i.id}}">{{i.desc|slice:"0:23"}}...</p>
              <span id="divpr{{i.id}}">{% csrf_token %}<button id="pr{{i.id}}" class="btn btn-primary Abtn"
                  data-product-name="{{i.product_name}}" data-image="/media/{{i.image}}" data-price="{{i.price}}"
                  data-description="{{i.desc}}">Add to
                  cart</button>
              </span>
              <a href="/home/products/{{i.id}}"><button id="qv{{i.id}}" class="btn btn-primary">Quick View</button></a>
            </div>
          </div>
        </div>
        {% if forloop.counter|divisibleby:4 and forloop.counter > 0 and not forloop.last %}
      </div>
      <div class="carousel-item">
        {% endif %}
        {% endfor %}
      </div>
    </div>
    <a class="carousel-control-prev" href="#demo{{forloop.counter}}" data-slide="prev">
      <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#demo{{forloop.counter}}" data-slide="next">
      <span class="carousel-control-next-icon"></span>
    </a>
  </div>
  {% endfor %}
</div>

{% endblock %}
{% else %}
<p>are kya krrae ho yaar</p>
{% endif %}

{% block js %}
<script>
  var csrfToken = document.querySelector('input[name="csrfmiddlewaretoken"]').value;

  const button = document.querySelectorAll('.Abtn');
  button.forEach(function (btn) {
    btn.addEventListener('click', function () {
      let idstr = this.id.toString();
      let qty = 1;

      var proCart = {};
      proCart[idstr] = [
        qty,
        "http://127.0.0.1:8000" + btn.getAttribute('data-image'),
        btn.getAttribute('data-product-name'),
        btn.getAttribute('data-price'),
        btn.getAttribute('data-description')
      ];

      fetch('/home/cart', {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
          "X-CSRFToken": csrfToken
        },
        body: JSON.stringify({ itemJson: proCart })
      })
      const Add_to_cart_Btn = document.getElementById('div' + idstr);
      Add_to_cart_Btn.innerHTML = `<a href="home/cart"><button class="btn btn-primary">Go To Cart</button></a>`;

    })
  })

  const Go_To_Cart = document.querySelectorAll('.Abtn');
  Go_To_Cart.forEach(function (btn) {
  let idstr = btn.id.toString();  // Use btn.id instead of this.id
  const Add_to_cart_Btn = document.getElementById('div' + idstr);

  let prodList = JSON.parse('{{ prodList | safe }}');

  document.getElementById('cart').innerHTML = prodList.length;

  for (let i = 0; i < prodList.length; i++) {
    let prod = prodList[i];

    let prodId = prod.prodId;

    if (idstr === prodId) {
      Add_to_cart_Btn.innerHTML = `<a href="home/cart"><button class="btn btn-primary">Go To Cart</button></a>`;
    }
  }
});

</script>
{% endblock %}