{% extends 'basic.html' %}
{% block title %}Your Orders{% endblock %}
{% block body %}
<h1>this is Orders Page</h1>
<ul>
  {% for product in product_list %}
  <li>
    <img height="200px" width="200px" src="{{ product.image_src }}" alt="Product Image">
    <p>{{ product.desc }}</p>
    <p>{{ product.prodDesc }} {{ product.Time }} <br> {{product.Id}}</p>
    <a href="orders/return"><button class="btn btn-primary">Return</button></a>
  </li>
  {% endfor %}
</ul>
<script>
  let prodList = JSON.parse('{{ prodList | safe }}');
  document.getElementById('cart').innerHTML = prodList.length;
</script>
{% endblock %}