{% extends 'basic.html' %}
{% block title %} {{product.product_name}} {% endblock %}
{% block body %}
<div class="container my-4">
    <div class="row">
        <div class="col-md-4">
            <div class="row">
                <img src="/media/{{product.image}}" id="imgpr{{product.id}}" width="233px" height="385px">
            </div>
            <div class="row">
                <a href="/home/cart/productCheckout/{{product.id}}"><button class="btn btn-primary mx-3">Buy Now</button></a>
                <span id="divpr{{product.id}}"><button id="pr{{product.id}}" class="btn btn-primary Abtn">Add to cart</button></span>
            </div>
        </div>
        <div class="col-md-8">
            <h5 id="namepr{{product.id}}">{{product.product_name}}</h5>
            <h6 id="pricepr{{product.id}}"><b>Rs.{{product.price}}</b></h6>
            <p id="descpr{{product.id}}">{{product.desc}}</p>
        </div>
    </div>
</div>
{% endblock %}
{% block js %}
<script>
    if(localStorage.getItem('cart') == null){
        var cart = {};
    } else  {
        cart = JSON.parse(localStorage.getItem('cart'));
        updateCart(cart);
    }

    let buttons = document.querySelectorAll('.product');
    buttons.forEach(function(button) {
        button.addEventListener('click', function() {
            let idstr = this.id.toString();

            if (cart[idstr] != undefined) {
                qty = cart[idstr][0] + 1;
            } else if(price != undefined && imgsrc != undefined && name != undefined && qty != undefined && desc != undefined){
                price = document.getElementById('price'+idstr).innerHTML;
                img = document.getElementById('img'+idstr)
                imgsrc = img.src;
                name = document.getElementById('name'+idstr).innerHTML
                qty = 1;
                desc = document.getElementById('desc'+idstr).innerHTML
                cart[idstr] = [qty , name , imgsrc , desc , price];
            }
            updateCart(cart);
        });
    });

    function updateCart(cart) {
        for (let item in cart) {
            const cartItem = document.getElementById('div' + item);
            if (cart[item][0] == 0) {
                delete cart[item];
                localStorage.setItem('cart', JSON.stringify(cart));
                cartItem.innerHTML = `<button id="${item}" class="btn btn-primary Abtn">Add to Cart</button>`;
            } else if (cart[item][0] != 0) {
                try {
                    cartItem.innerHTML= `
                    <button id="minus${item}" class="btn btn-primary minus">-</button>
                    <span id="val${item}">${cart[item][0]}</span>
                    <button id="plus${item}" class="btn btn-primary plus">+</button>
                    `;
                } catch (error) {
                }  
            }
        }
        localStorage.setItem('cart', JSON.stringify(cart));
        let buttons = document.querySelectorAll('.Abtn');
        buttons.forEach(function(button) {
            button.addEventListener('click', function() {
                let idstr = this.id.toString();

                if (cart[idstr] != undefined) {
                    qty = cart[idstr][0] + 1;
                } else {
                    let price = document.getElementById('price' + idstr).innerHTML;
                    let img = document.getElementById('img' + idstr);
                    let imgsrc = img.src;
                    let name = document.getElementById('name' + idstr).innerHTML;
                    let qty = 1;
                    let desc = document.getElementById('desc' + idstr).innerHTML;
                    cart[idstr] = [qty, name, imgsrc, desc, price];
                }

                updateCart(cart);
            });
        });
    }

    document.addEventListener('click', function(event) {
        if (event.target.classList.contains('plus')) {
            // Plus button clicked
            let a = event.target.id.slice(6);
            cart['pr' + a][0] = cart['pr' + a][0] + 1;
            document.getElementById('valpr' + a).innerText = cart['pr' + a][0];
            updateCart(cart);
        } else if (event.target.classList.contains('minus')) {
            // Minus button clicked
            let a = event.target.id.slice(7);
            cart['pr' + a][0] = cart['pr' + a][0] - 1;
            cart['pr' + a][0] = Math.max(0, cart['pr' + a][0]);
            document.getElementById('valpr' + a).innerText = cart['pr' + a][0];
            updateCart(cart);
        }
    });
</script>

{% endblock %}
