{% extends 'basic.html' %}
{% block title %} {{product.product_name}} {% endblock %}
{% block body %}
<div class="container my-4">
    <div class="row">
        <div class="col-md-4">
            {% csrf_token %}
            <div class="row">
                <img src="/media/{{product.image}}" id="imgpr{{product.id}}" width="233px" height="385px">
            </div>
            <div class="row">
                <!-- <a href="/home/cart/checkout"> -->
                <button data-image="/media/{{product.image}}" data-price="{{product.price}}"
                    data-product-name="{{product.product_name}}" data-description="{{product.desc}}"
                    id="buypr{{product.id}}" class="btn btn-primary mx-3 buy">Buy
                    Now</button>
                <!-- </a> -->
                <span id="divpr{{product.id}}"><button data-image="/media/{{product.image}}"
                        data-price="{{product.price}}" data-product-name="{{product.product_name}}"
                        data-description="{{product.desc}}" id="pr{{product.id}}" class="btn btn-primary Abtn">Add to
                        cart</button></span>
            </div>
        </div>
        <div class="col-md-8">
            <h5 id="namepr{{product.id}}">{{product.product_name}}</h5>
            <h6 id="pricepr{{product.id}}"><b>Rs.{{product.price}}</b></h6>
            <p id="descpr{{product.id}}">{{product.desc}}</p>
        </div>
    </div>
</div>
{% endblock %}
{% block js %}
<script>

    var csrfToken = document.querySelector('input[name="csrfmiddlewaretoken"]').value;

    let BuyNowBtn = document.querySelectorAll('.buy');
    BuyNowBtn.forEach(async function (btn) {
        btn.addEventListener('click', async function () {
            let idee = this.id.toString();
            let idstr = idee.slice(3);
            let image = "http://127.0.0.1:8000" + btn.getAttribute('data-image');
            let name = btn.getAttribute('data-product-name');
            let price = btn.getAttribute('data-price');
            let desc = btn.getAttribute('data-description');

            await AddToCart(idstr, image, name, price, desc);

            let requestBody = 2;
            let formData = new FormData();
            formData.append('requestBody', requestBody);
            formData.append('idstr', idstr);
            try {
                await fetch('/home/cart/checkout', {
                    method: "POST",
                    headers: {
                        "X-CSRFToken": csrfToken
                    },
                    body: formData
                });
                window.location.href = '/home/cart/checkout';

            } catch (error) {

            }

        });
    });

    let AddToCartBtn = document.querySelectorAll('.Abtn');
    AddToCartBtn.forEach(function (btn) {
        btn.addEventListener('click', function () {
            let idstr = this.id.toString();
            let image = "http://127.0.0.1:8000" + btn.getAttribute('data-image');
            let name = btn.getAttribute('data-product-name');
            let price = btn.getAttribute('data-price');
            let desc = btn.getAttribute('data-description');
            AddToCart(idstr, image, name, price, desc);
            let ChangeBtn = document.getElementById('div' + idstr);
            ChangeBtn.innerHTML = `<a href="/home/cart"><button class="btn btn-primary">Go To Cart</button></a>`;
        })
    })

    async function AddToCart(idstr, image, name, price, desc) {
        let qty = 1;
        var proCart = {};
        proCart[idstr] = [
            qty,
            image,
            name,
            price,
            desc
        ]

        await fetch('/home/cart', {
            method: "POST",
            headers: {
                "Content-Type": "application/json",
                "X-CSRFToken": csrfToken
            },
            body: JSON.stringify({ itemJson: proCart })
        })
    }

    const Go_To_Cart = document.querySelectorAll('.Abtn');
    Go_To_Cart.forEach(function (btn) {
        let idstr = btn.id.toString();  // Use btn.id instead of this.id
        let Add_to_cart_Btn = document.getElementById('div' + idstr);

        let prodList = JSON.parse('{{ prodList | safe }}');

        document.getElementById('cart').innerHTML = prodList.length;

        for (let i = 0; i < prodList.length; i++) {
            let prod = prodList[i];

            let prodId = prod.prodId;

            if (idstr === prodId) {
                Add_to_cart_Btn.innerHTML = `<a href="/home/cart"><button class="btn btn-primary">Go To Cart</button></a>`;
            }
        }
    });

</script>

{% endblock %}