{% extends 'basic.html' %}
{% block title %} Return {% endblock %}
{% block body%}
<!-- {% csrf_token %} -->

<div class="container">
    <h3>Return product</h3>
    <form action="/home/orders/return" method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" name="name" placeholder="Enter your Name">
        </div>
        <div class="form-group">
            <label for="phone">Order Id</label>
            <input type="tel" class="form-control" id="number" name="phone" placeholder="Enter your number">
        </div>
        <div class="form-group">
            <label for="Id">number</label>
            <input type="tel" class="form-control" id="number" name="Id" placeholder="Enter Order Id">
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" id="email" name="email" placeholder="Enter your email">
        </div>
        <div class="form-group">
            <label for="desc">Reason for returning the product..</label>
            <textarea class="form-control" id="desc" name="desc" rows="3"></textarea>
        </div>
        <p>Updates regarding cancelation will be displayed on the ordes Page.</p>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
{% endblock %}
{% block js %}
<script>
    let prodList = JSON.parse('{{ prodList | safe }}');

    document.getElementById('cart').innerHTML = prodList.length;
</script>
{% endblock %}