{% extends 'basic.html' %}
{% block title %} something {% endblock %}
{% block css %}
.col-md-3 {
display: inline-block;
margin-left: -4px;
}

.carousel-indicators .active {
background-color: blue;
}

.col-md-3 img {
width: 100%;
height: 301px;;
border-radius: 23px;
}

body .carousel-indicator li {
background-color: blue;
}

body .carousel-indicators {
bottom: 0;
}

body{
background-color: #E3E6E6
}

body .carousel-control-prev-icon,
body .carousel-control-next-icon {
background-color: blue;
}

body .no-padding {
padding-left: 0;
padding-right: 0;
}

.d-block {
height: 500px;
border-radius: 50px;
}

.carousel-inner {
width: 70%;
height: 500px;
margin: auto;
margin-top: 20px;
position: relative;
overflow: hidden;
}

.heading{
margin-left: 300px;
margin-top: 15px;
}

.container {
width: 100%;
}
{% endblock %}
{% for message in messages %}
<div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
    <strong>Message:</strong>{{message}}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{% endfor %}
{% block body %}
{% csrf_token %}
{% load static %}
{% if not product %}
<p>No search found kindly enter the name of the product correctly</p>
{% else %}
{% for product in prods %}
{% for i in product %}
<div class="col-xs-3 col-sm-3 col-md-3">
    <div class="card" style="width: 18rem;">
        <img src='/media/{{i.image}}' id="imgpr{{i.id}}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title" id="namepr{{i.id}}">{{i.product_name}}</h5>
            <h5 class="card-title" id="pricepr{{i.id}}">{{i.price}}</h5>
            <p class="card-text" id="descpr{{i.id}}">{{i.desc|slice:"0:23"}}...</p>
            <span id="divpr{{i.id}}"><button data-image='/media/{{i.image}}' data-product-name="{{i.product_name}}" data-price="{{i.price}}" data-description="{{i.desc}}" id="pr{{i.id}}" class="btn btn-primary Abtn">Add to cart</button></span>
            <a href="/home/products/{{i.id}}"><button id="qv{{i.id}}" class="btn btn-primary">Quick View</button></a>
        </div>
    </div>
</div>
{% endfor %}
{% endfor %}
{% endif %}
{% endblock %}
{% block js %}
<script>

    var csrfToken = document.querySelector('input[name="csrfmiddlewaretoken"]').value;

    const button = document.querySelectorAll('.Abtn');
    button.forEach(function (btn) {
        btn.addEventListener('click', function () {
            let idstr = this.id.toString();
            let qty = 1;

            var proCart = {};
            proCart[idstr] = [
                qty,
                "http://127.0.0.1:8000" + btn.getAttribute('data-image'),
                btn.getAttribute('data-product-name'),
                btn.getAttribute('data-price'),
                btn.getAttribute('data-description')
            ];

            fetch('/home/cart', {
                method: "POST",
                headers: {
                    "Content-Type": "application/json",
                    "X-CSRFToken": csrfToken
                },
                body: JSON.stringify({ itemJson: proCart })
            })
            const Add_to_cart_Btn = document.getElementById('div' + idstr);
            Add_to_cart_Btn.innerHTML = `<a href="home/cart"><button class="btn btn-primary">Go To Cart</button></a>`;

        })
    })

    let prodList = JSON.parse('{{ prodList | safe }}');

    document.getElementById('cart').innerHTML = prodList.length;

    const Go_To_Cart = document.querySelectorAll('.Abtn');
    Go_To_Cart.forEach(function (btn) {
        let idstr = btn.id.toString();  // Use btn.id instead of this.id
        const Add_to_cart_Btn = document.getElementById('div' + idstr);
        for (let i = 0; i < prodList.length; i++) {
            let prod = prodList[i];

            let prodId = prod.prodId;

            if (idstr === prodId) {
                Add_to_cart_Btn.innerHTML = `<a href="home/cart"><button class="btn btn-primary">Go To Cart</button></a>`;
            }
        }
    });

</script>
{% endblock %}